@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=Roboto:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
}


body{
    background-image: url(../imagenes/fondo.jpg);
    background-size: cover;   
    overflow-x: hidden;
}


h1,h2{
    font-family: kdam thmor pro, sans-serif;
    color: #aaa;   
}


nav{
    background: linear-gradient(to left, green, black);  
}

        
.nav__img--sm{
    width: 3.5rem;
    height: 3.5rem;   
}        

            .nav-item{
                margin-right: 20px;        
            }


            .nav-link{
                color: #fff;
                font-family: roboto, sans-serif;
                font-weight: 500;
                font-size: medium;
                text-decoration: none;
            }

            .nav-link:hover{
                color: #888;
            }

            .btn-outline-success{
                background-color: #888;
                color: #000;
            }
            
            

.head__img--short{
    width: 50%;
    z-index: 1;  
}

.head{
    display: flex;
    width: 100%;
    flex-direction: row;
}

.container{
    width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding: 60px 0;
    gap: 2em; 
}

.container__img{
    background-image: url(../imagenes/card1.jpg);
    height: 200px;
    background-position: center top;
    background-size: cover;
    border-radius:  1em 1em 0 0 ;
}

.container__img--1{
    background-image: url(../imagenes/card2.jpg);
    height: 200px;
    background-position: center top;
    background-size: cover;
    border-radius:  1em 1em 0 0 ;
}

.container__img--2{
    background-image: url(../imagenes/card3.jpg);
    height: 200px;
    background-position: center top;
    background-size: cover;
    border-radius:  1em 1em 0 0 ;
}

.container__text--design{
    font-family: roboto, sans-serif;
    font-size: 1.1rem;
    line-height: 2rem;
    font-weight: 500;
    color: #fff;
    padding: 1em;
    
}


    .container__text{
        background-color: rgba(33, 59, 33, 0.938);
        width: 90%;
        height: auto;
        margin: 10PX 10px;
        border-radius: 1em 1em;
        transition: transform 1s; 
        box-shadow: 5px 5px 10px #000
          
    }

    .container__text:hover{
        transform: scale(1.1);
    }


           .container__title{
               text-align: left;
               padding: 1em;
           }


               .container__title--size{
                   font-size: xx-large;
                   text-align: center;
                   padding: 1em;   
               }

.foot{
   text-align: left;
   display: flex;
   padding-top: 50px;
}


.foot__img{
    width: 30px;
    padding: 5px;      
}


.foot__copy{
    color: #000;
    text-align: end;
    width: 100%;
    padding: 20px;
    font-size: large;    
}

@keyframes animate__pto{
    0%{filter: brightness(.5);}
    25%{filter: brightness(1);}
    50%{filter: brightness(1.5);}
    75%{filter: brightness(1);}
    100%{filter: brightness(.5);}
}

.animate{
    animation-name: animate__pto;
    animation-iteration-count: infinite;
    animation-duration: 10s;
}

@media (max-width: 720px){
    header{
        display: flex;
        justify-content: center; 
    }

    .head__img--short{
        padding-top: 2em;
    }

    .container{
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }

    .container__text{
        box-shadow: none;
    }

    .container__text{   
        font-size: small;
        margin: 0 auto;
        border-radius: 0;
        background-color: transparent;     
    }

    article div{
        display: none;    
    }

    .container__text--design{
        font-size: 1em;
        color: #000;
        font-weight: 600;
    }

    .container__title--size{
        color: #000;
    }

    .container__title{
        color: #000;
    }
}


    /*galeria*/


.galeria__headimg--fluid{
    width: 90vw;
    height: 80vh;
   
}

.title__container{
    display: flex;
    justify-content: center;
    padding: 4em 0; 
}

.container__text--color{
    font-size: 4em;
    font-weight: 600;
    color: #000;
    text-shadow: 5px 5px 10px #444;
}

@media (max-width: 720px){
    .container__text--color{
        font-size: 2em;   
    }

    .galeria__headimg--fluid{
        display: none;
    }
}


   /* productos*/


.producto__text{
    text-align: center;
    color: #000;
    padding-top: 1em;
    font-size: 3rem;
}

.container{
    display: flex;
    justify-content: center;
    width: 100%;    
}

.container__table{
    background-color: rgba(0, 0, 0, 0.886);
    width: 700px;
    font-weight: 600;
    display: flex;
    justify-content:center;
    color: #fff;            
}

.info__producto{
    color: green;
    text-transform: uppercase;
    text-decoration: underline;    
}

@media (max-width: 720px){
    .producto{
        background-color: #000;
        overflow-x: auto;  
    }

    .producto__text{
        color: #fff;
    }
}


/* beneficios */


.title__beneficios{
    padding: 60px;
    text-align: center;
    color: #000;
    font-weight: 500;
    text-shadow: 5px 5px 5px #888;
}

.beneficios__title{
    color: #000;
}


@media (max-width: 720px){
    .img__header{
        width: 80vw;
        padding-top: 1em;
    }     
}


/* informacion adicional*/


.ia__img{
    width: 100vw;
    height: 80vh;   
}

.ia__title{
    margin: 30px;
    padding: 20px;
    color: #000;
    background-color: #fff;
    opacity: 0.8;
}


section{
    display: flex;
    justify-content: space-around;
}

iframe{
    padding-left: 1em;
}

@media (max-width: 720px){
    .ia__title{
        background-color: transparent;
    }

    .ia__img{
        display: none;
    }

    iframe{
        width: 80vw;
        height: 30vh;
        padding-top: 1em;  
    }

    .ia__section{
        display: flex;
        flex-direction: column;
        align-items: center;
    }   
}