@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=Roboto:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url(../imagenes/fondo.webp);
  background-size: cover;
  overflow-x: hidden;
}

h1, h2 {
  font-family: #aaa;
  color: #aaa;
}

nav {
  background: linear-gradient(to left, green, #222);
}

.navbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
}

.nav__img--sm {
  width: 3.5em;
  height: 3.5em;
}

.nav-item {
  margin-right: 1em;
}

.nav-link {
  color: #ddd;
  font-family: "roboto", sans-serif;
  font-weight: 500;
  font-size: medium;
  text-decoration: none;
}

.nav-link:hover {
  color: #888;
}

.btn-outline-success {
  background-color: #888;
  color: #222;
}

.head__img--short {
  width: 50vw;
  z-index: 1;
}

.titulo {
  display: flex;
}

.titulo__texto {
  font-size: 4em;
  margin: auto;
  color: #222;
  font-weight: 700;
  text-shadow: 2px 2px 5px #222;
}

.head {
  display: flex;
  width: 100vw;
  flex-direction: row;
}

.container {
  width: 90vw;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  padding: 60px 0;
  gap: 2em;
}

.container__img, .container__img--2, .container__img--1 {
  height: 12.5em;
  background-position: center top;
  background-size: cover;
  border-radius: 1em 1em 0 0;
}

.container__img, .container__img--2, .container__img--1 {
  background-image: url(../imagenes/pag-index/card1.webp);
}

.container__img--1 {
  background-image: url(../imagenes/pag-index/card2.webp);
}

.container__img--2 {
  background-image: url(../imagenes/pag-index/card3.webp);
}

.container__text--design {
  font-family: "roboto", sans-serif;
  font-size: 1.1rem;
  line-height: 2em;
  font-weight: 500;
  color: #ddd;
  padding: 1em;
}

.container__text {
  background-color: rgba(33, 59, 33, 0.938);
  width: 90vw;
  height: auto;
  margin: 10px 10px;
  border-radius: 1em 1em;
  transition: transform 1s;
  box-shadow: 5px 5px 10px #222;
}

.container__text:hover {
  transform: scale(1.1);
}

.container__title {
  text-align: left;
  padding: 1em;
}

.container__title--size {
  font-size: xx-large;
  text-align: center;
  padding: 1em;
}

.foot {
  text-align: left;
  display: flex;
  padding-top: 50px;
}

.foot__img {
  width: 30px;
  padding: 5px;
}

.foot__copy {
  color: #222;
  text-align: end;
  width: 100vw;
  padding: 20px;
  font-size: large;
}

@keyframes animate__pto {
  0% {
    filter: brightness(0.5);
  }
  25% {
    filter: brightness(1);
  }
  50% {
    filter: brightness(1.5);
  }
  75% {
    filter: brightness(1);
  }
  100% {
    filter: brightness(0.5);
  }
}
.animate {
  animation-name: animate__pto;
  animation-iteration-count: infinite;
  animation-duration: 5s;
}

@media (max-width: 720px) {
  header {
    display: flex;
    justify-content: center;
  }
  .head__img--short {
    padding-top: 2em;
  }
  .titulo {
    display: none;
  }
  .container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }
  .container__text {
    box-shadow: none;
  }
  .container__text {
    font-size: small;
    margin: 0 auto;
    border-radius: 0;
    background-color: transparent;
  }
  .container__text--design {
    font-size: 1em;
    color: #222;
    font-weight: 500;
  }
  .container__title--size {
    color: #222;
  }
  .container__title {
    color: #222;
  }
}
.galeria__headimg--fluid {
  width: 90vw;
  height: 80vh;
}

.title__container {
  display: flex;
  justify-content: center;
  padding: 4em 0;
}

.container__text--color {
  text-align: center;
  color: #222;
  padding: 1em 0;
  font-size: 4em;
  font-weight: 500;
}

@media (max-width: 720px) {
  .container__text--color {
    font-size: 2em;
  }
  .galeria__headimg--fluid {
    display: none;
  }
}
.galeria__headimg--fluid {
  width: 90vw;
  height: 80vh;
}

.title__container {
  display: flex;
  justify-content: center;
  padding: 4em 0;
}

.container__text--color {
  font-size: 4em;
  font-weight: 500;
  color: #222;
  text-shadow: 5px 5px 10px #444;
}

@media (max-width: 720px) {
  .container__text--color {
    font-size: 2em;
  }
  .galeria__headimg--fluid {
    display: none;
  }
}
.producto__text {
  text-align: center;
  color: #222;
  padding: 1em 0;
  font-size: 4em;
  font-weight: 500;
}

.container {
  display: flex;
  justify-content: center;
  width: 100vw;
}

.container__table {
  background-color: rgba(0, 0, 0, 0.886);
  width: 700px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  color: #ddd;
}

.info__producto {
  color: green;
  text-transform: uppercase;
  text-decoration: underline;
}

@media (max-width: 720px) {
  .producto {
    background-color: #222;
    overflow-x: auto;
  }
  .producto__text {
    color: #ddd;
  }
}
.title__beneficios {
  text-align: center;
  color: #222;
  padding: 1em 0;
  font-size: 4em;
  font-weight: 500;
}

.beneficios__title {
  color: #222;
}

article h2 {
  text-align: center;
  padding-top: 1em;
}
article h2 p {
  text-align: justify;
  padding: 0 1em;
  padding-top: 1em;
}

@media (max-width: 720px) {
  .img__header {
    width: 30vh;
    padding-top: 1em;
  }
}
.ia__img {
  width: 100vw;
  height: 80vh;
}

.ia__title {
  margin: 30px;
  padding: 20px;
  color: #222;
  background-color: #ddd;
  opacity: 0.8;
}

section {
  display: flex;
  justify-content: space-around;
}

iframe {
  padding-left: 1em;
}

@media (max-width: 720px) {
  .ia__title {
    background-color: transparent;
  }
  .ia__img {
    display: none;
  }
  iframe {
    width: 80vw;
    height: 30vh;
    padding-top: 1em;
  }
  .ia__section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

/*# sourceMappingURL=main.css.map */
