//Beneficios

.title__beneficios{
    @include title()
}

.beneficios__title{
    color: $black;
}

article h2{
    text-align: center;
    padding-top: 1em;
    p{
        text-align: justify;
        padding: 0 1em;
        padding-top: 1em;
    }
}

 
@media (max-width: 720px){
    .img__header{
        width: $h-30;
        padding-top: 1em;
    }     

    .title__beneficios{
        font-size: 2em;
    }
}