@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=Roboto:wght@300&display=swap');

$fontMain:'roboto', sans-serif;
$secondaryFont:'kdam thmor pro', sans-serif;

$imgLg:12.5em;
$textXlg:4em;
$textLg:3.5em;
$textMd:2em;
$textSm:1em;

$textBold:700;
$textRegular:500;
$textLight:300;

