// vars globals

$mainColor:green;
$secondaryColor: #aaa;
$cardColor:rgba(33, 59, 33, 0.938);
$tableColor:rgba(0, 0, 0, 0.886);
$black:#222;
$white:#ddd;
$linkColor:#888;
$textColor:#444;

//sizing

$w-100:100vw;
$w-90:90vw;
$w-80:80vw;
$w-50:50vw;
$h-80:80vh;
$h-30:30vh;


//Maps

$orientacion: (
    '1':left,
    '2':center,
    '3':right,);

